
<ion-content [fullscreen]="true" class="content">

 <div>
  <h1 class="ion-text-center texto">Registro</h1>
 </div>
  <form  #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm);">
        <ion-col>
          <ion-item color="primary">
            <ion-input type="text"  name="name" #name="ngModel" [(ngModel)]="user.name"  placeholder="Nombre" required ></ion-input>
            <ion-label *ngIf="!name.valid && name.touched">El nombre es obligatorio</ion-label>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="text" name="apellido_paterno" #apellido_paterno="ngModel" [(ngModel)]="user.apellido_paterno"   placeholder="Apellido Paterno" required></ion-input>
            <ion-label *ngIf="!apellido_paterno.valid && apellido_paterno.touched">El apellido  es obligatorio</ion-label>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="text" name="apellido_materno" #apellido_materno="ngModel" [(ngModel)]="user.apellido_materno"  placeholder="Apellido Materno" required></ion-input>
            <ion-label *ngIf="!apellido_materno.valid && apellido_materno.touched">El apellido  es obligatorio</ion-label>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"   placeholder="Correo Electronico" required></ion-input>
            <ion-label *ngIf="!email.valid && email.touched">El correo es obligatorio</ion-label>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="number" name="celular" #celular="ngModel" [(ngModel)]="user.celular"  placeholder="Numero de celular" max-length="10" required></ion-input>
            <ion-label *ngIf="!celular.valid && celular.touched">El celular es obligatorio</ion-label>
          </ion-item>
          <ion-item color="primary">
            <ion-input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" required></ion-input>
            <ion-label *ngIf="!password.valid && password.touched">La contraseña es obligatoria</ion-label>
          </ion-item>
        </ion-col>
        <ion-button expand="full" color="danger" type="submit">Registrar</ion-button>
        <div>
          <p class="ion-text-center texto" (click)="abrirTab()">¿Ya tienes cuenta?</p>

        </div>
  </form>
</ion-content>
